* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* box-shadow: 0 0 10px rgb(21, 93, 251, .4), 0 0 20px rgb(21, 93, 251, .4), 0 0 30px rgb(21, 93, 251, .4); */
    /* transition: .32S ease; */
    /* transform: translateY(-5px); */
    /* cursor: pointer; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/prod-1.png"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
}

body {
    font-family: "Playfair Display", "Roboto", sans-serif;
}

.hero-page {
    background: url("assets/images/hero-image.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 100vw; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-container {
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, .7);
}

/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 1rem 2rem 0 2rem;
    background-color: #F2F2F7;
    border-radius: 8px;
} */

header {
    position: fixed;
    top: 1rem;
    left: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F2F2F7;
    border-radius: 8px;
    z-index: 1000;
}

.brand-logo {
    height: 2.5rem;
    width: 7rem;
}

ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
}

.main-link {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1F6105;
    cursor: pointer;
    text-decoration: none;
}

.other-link {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

.other-link:hover {
    transition: .32s ease all;
    cursor: pointer;
    color: #277906;
}

#contactBtn {
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    background-color: #1F6105;
    border: none;
    color: #fff;
}

#contactBtn:hover {
    transition: .32s ease all;
    cursor: pointer;
    background-color: #277906;
}

.hero-details {
    display: flex;
    flex-direction: column;
    margin-top: 13rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-text h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.hero-text p {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255, .8);
    line-height: 130%;
}

.hero-btns {
    display: flex;
    gap: 1rem;
}

#startBtn {
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    background-color: #1F6105;
    border: none;
    color: #fff;
}

#startBtn:hover {
    transition: .32s ease all;
    cursor: pointer;
    background-color: #277906;
}

#checkBtn {
    padding: 12px 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 7px;
    background-color: #fff;
    border: none;
    color: #1F6105;
}

#checkBtn:hover {
    transition: .32s ease all;
    cursor: pointer;
    background-color: #ececec;
}

.bottom-container {
    width: 100%;
    height: 15%;
    background-color: #F2F2F7;
    display: flex;
}

.ads {
    display: flex;
    align-items: center;
    width: 20%;
    padding: 1rem 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, .5);
}

.ads-color {
    color: #1F6105;
}

.ads-logo {
    width: 80%;
    display: flex;
    gap: 7rem;
    align-items: center;
    padding: 2rem;
}

.logo {
    width: 6rem;
    height: 2rem;
    background: url("assets/icons/google\ logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.legacy {
    padding: 1rem 2rem;
    background-color: #1F6105;
}

.legacy p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    line-height: 130%;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    /* text-align: center; */
}